<header>
  <img src="assets/img/logo.png"
       srcset="assets/img/logo@2x.png 2x,
             assets/img/logo@3x.png 3x"
       class="logo">
  <div class="auth">
    <img src="assets/img/ic-user.png"
         srcset="assets/img/ic-user@2x.png 2x,
             assets/img/ic-user@3x.png 3x"
         class="ic_user">
    <a href="#" class="auth__line">User login</a>
    <img src="assets/img/ic-exit.png"
         srcset="assets/img/ic-exit@2x.png 2x,
             assets/img/ic-exit@3x.png 3x"
         class="ic_exit">
    <a href="#" class="auth__line">Log off</a>
  </div>
</header>
